<div class="container">
  <div id="home-page-archi">
    <div class="full-screen">
      <div class="slider-content">
        <div class="slider-content-inner">
          <div class="row slider-content-inner-one">
            <div class="col-lg-7">
              <h2>
                <span>Brain Bytes</span>
                <br>
              </h2>
              <div class="row">
                <% if user_signed_in? %>
                <div class="btn bg-archi-primary mt-10 p-2 ml-2 mr-4">
                  <%= link_to "/bytes" do %>
                    <p class="btn-inner-container mb-0 pl-2 pr-2"> Access account </p>
                  <% end %>
                </div>
                <% else %>
                <div class="btn bg-archi-primary mt-10 p-2 ml-2 mr-4">
                  <%= link_to new_user_session_path do %>
                    <p class="btn-inner-container mb-0 pl-2 pr-2"> Sign in </p>
                  <% end %>
                  <%= link_to new_user_registration_path do %>
                    <p class="btn-inner-container mb-0 pl-2 pr-2"> Sign up </p>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer>
      <div id="footerone">
        <div class="row">
          <div class="col-12 text-center">
            <p class="copy-write">Copyright © 2020 <strong>Brain Bytes</strong> | All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
